html {
  box-sizing: border-box;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  background-color: #dcd4cd;
  padding: .4em .75em .5em;
  border: 3px solid #785439;
}
